.logo-container {
    position: relative;
    left: -10%;
    float: left;
    z-index: 20;
    display: flex;
    justify-content: space-around;
    background-color: rgb(246, 152, 0, 0);
    border-radius: 20px;
    width: 100%;
    height: 80px;
}

.logobar-image {
    position: relative;
    top: 15px;
    height: 80px;
    z-index: 20;
}

.logo-container__container {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    z-index: 20;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

.nav_element {
    position: relative;
    right: 250px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    z-index: 21;
}

nav ul {
    bottom: -1px;
    left: 1px;
    right: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: #c24150;
    color: white;
    border-radius: 20px;
    z-index: 5;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #262626;
}

.logout-navbar {
    border-radius: 20px;
}

.link-container {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Icons */

.navbar-image {
    display: flex;
    position: relative;
    margin: 10px;
    object-fit: cover;
}

.navbar-profile {
    background-color: #fff;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navbar-profile__image {
    display: flex;
    position: relative;
    margin: 10px;
    width: auto;
    object-fit: cover;
    object-position: 13px;
}

/* modal stuff */

.navbar-modal {
    width: 400px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    border-radius: 12px;
}

.navbar-modal__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 100;
}

.profile_dropdown__button {
    display: flex;
    align-items: center;
    font-family: "BioRhyme", sans-serif;
    background-color: #fff;
    color: #262626;
    border-style: none;
    width: 230px;
}

.profile_dropdown__logout {
    display: flex;
    font-family: "BioRhyme", sans-serif;
    background-color: #fff;
    padding: 8px 16px;
    color: #262626;
    border-style: none;
    border-top: 1px solid #dbdbdb;
    width: 230px;
    margin-bottom: 4px;
}

.link-container__profile {
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
}

.profile_dropdown {
    position: absolute;
    /* top: 120px; */
    right: -10px;
    /* padding: 10px 20px; */
    background: #fff;
    width: 230px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
}

.profile_dropdown.active {
    top: 40px;
    visibility: visible;
    /* -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc; */
    box-shadow: 0 0 10px rgb(200, 200, 200);
    opacity: 1;
}

.dropdown_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.fa-circle-user {
    margin-right: 12px;
}

.dropdown_button_div:hover {
    cursor: pointer;
}

.create-post-modal {
    width: 493px;
    height: 333px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    border-radius: 12px;
}

.create-post-modal__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post-modal:focus {
    outline: none;
}
