.comment-form {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 0px 0px 7px 7px;
    background-color: #fff;
    color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-form input[type="text"] {
    background: none;
    border: 0;
    padding: 12px 12px 0px 12px;
    margin: 0;
}

.comment-form-noninput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.charcounter_text {
    color: #dbdbdb;
    padding-left: 12px;
}

.comment-submit-button {
    position: relative;
    font-family: "BioRhyme", sans-serif;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
    margin-right: 12px;
    margin-bottom: 12px;
    background-color: #fff;
    color: #0095f6;
    margin-top: 10px;
}

.post-comment-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-top: 0;
    border-bottom: 0;
    background-color: #fff;
}

.post-comment-info {
    width: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    padding-left: 12px;
    padding-bottom: 4px;
}

.comment-username {
    font-family: "Fjalla One", sans-serif;
    /* padding-left: 12px; */
    /* padding-top: 2px; */
}

.comment-text {
    width: 500px;
    inline-size: 428px;
    overflow-wrap: break-word;
    hyphens: manual;
    padding-left: 8px;
}
